name: Entur/Docker/Lint

on:
  workflow_call:
    inputs:
      dockerfile:
        description: "Which dockerfile to run"
        type: string
        default: "Dockerfile"
      ignore:
        description: "A comma separated list of Hadolint Ignores. See https://github.com/hadolint/hadolint/wiki for more information."
        type: string
      timeout_minutes:
        description: "Timeout in minutes"
        type: number
        default: 2

jobs:
  lint:
    name: Docker Lint
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.timeout_minutes }}
    permissions:
      contents: read
    env:
      GHA_DOCKER_LINT_DOCKERFILE: ${{ inputs.dockerfile }}
      GHA_DOCKER_LINT_IGNORE: ${{ inputs.ignore }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.2
        with:
          submodules: recursive
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: ${{ env.GHA_DOCKER_LINT_DOCKERFILE }}
          ignore: ${{ env.GHA_DOCKER_LINT_IGNORE }}
